# RStudio/ VSCode files
.Rhistory
.Rproj.user/
*.Rproj
*.code-workspace
.vscode/

# Knitr
*_cache/
*_files/
/_book/
/site_libs/

/.quarto/

# MacOS files
.DS_Store

# Directories
data/
documentation/
