# RStudio/ VSCode files
.Rhistory
.Rproj.user/
*.Rproj
*.code-workspace
.vscode/

# Knitr
*_cache/

/*_files/
/.quarto/

# MacOS files
.DS_Store

# External data directories
data/

# Individual files
documentation/
