/* Minimal CSS */

:root {
  --link-color: #06954d;
}

/* Code */

.sourceCode {
  font-size: .95em;
}

.cell-output {
  font-size: .85em;
}

/* Tables */

.table {
  font-size: .85em;
}

/* Link color */

a {
  color: var(--link-color)
}

a:hover {
  color: var(--link-color)
}

.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 1px solid var(--link-color);
  color: var(--link-color) !important
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  color: var(--link-color) !important
}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
  color: var(--link-color)
}

div.sidebar-item-container:hover,
div.sidebar-item-container:focus {
  color: var(--link-color)
}

.nav-page a:hover {
  color: var(--link-color)
}

/* callouts */

.activity {
  background-color: #f7f7f7;
}