/* Custom style */

/* tags */

pre {
  font-size: .8em;
}

caption {
  font-size: 1em;
}

/* classes */

.table {
  font-size: .8em;
}

.sourceCode {
  font-size: .95em;
}

.math {
  font-size: .9em;
}

.figure-caption {
  font-size: .8em;
}

.questions {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .5em;
  padding: 1em;
  background-color: rgb(234, 232, 232);
  border: 1px solid black;
}